<h1>B.M.R. Calculator</h1>
<p>Welcome to the Basal Metabolic Rate Calculator!</p>
<p> The B.M.R. Calculator computes the engery expenditure per unit time by humans at rest.
  Basically speaking, this is the amount of calories you will burn while your body is at rest
  in temperate condiations. This accounts for about 60 to 75 % of the daily calorie expenditure by individuals.
  A simpler analogy is how much gas a car would burn if it were running while not in motion.
</p>
<p>The equation used to do this is known as the Mifflin St. Jeor Equation and is illustrated below</p>
<p><img src="../../assets/bmr.svg"></p>
<p>
  For more information, please visit the following Wikipedia 
  <a href="https://en.wikipedia.org/wiki/Basal_metabolic_rate" target="_blank">article</a>.
</p>