<mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container [matColumnDef]="column.columnDef" *ngFor="let column of columns">
        <mat-header-cell mat-sort-header *matHeaderCellDef>{{column.header}}</mat-header-cell>
        <mat-cell *matCellDef="let element">
            <!-- if this row has a cell function use it, otherwise, return the row data -->
            {{column.cell === undefined ? element[column.columnDef] : column.cell(element)}}
        </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>